<app-header class="inner-header"></app-header>
<div class="banner_container privacy_policy">
  <div class="banner_details text-center">
    <div class="container">
      <h1>Privacy Policy</h1>
      <span>Will go here !!!</span>
    </div>
  </div>
</div>



<div class="privacy_policy_content">
<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12">
          <h1>Privacy Policy</h1>
          <hr />
          <h5 class="privacy_policy_h">1. Privacy at Fruitastic</h5>
          <p>We will comply with all privacy principals set out by the National Privacy Act, 1988, (CWTH) </p>
    <h5 class="privacy_policy_h">2.Collecting Personal Information About You</h5>
    <p>"Personal Information' is personally identifiable information - like your name, street address, mobile and home phone numbers, email address and social media profile.</p>
    <p>We only collect personal information that is necessary to provide you with the service you require from us, such as:</p>	 
    <p>Name, Address, Phone Numbers, Email Address, Credit Card Details, social media profile, Fruit and vegetable preferences, and we may record any communications between us and you; and</p> 
    <p>if you have received a delivery from us, information you have provided about the produce and service, or your opinions about these. </p>
    <h5 class="privacy_policy_h">3.Using & Disclosing Your Personal Information</h5>
    <p>Any personal information which we collect about you will be used only for the purpose it was collected, and will not be disclosed or forwarded to any third party or external organisation, except where we may be ordered to do so by a Court of Law.</p>
    <h5 class="privacy_policy_h">4. Access to your Personal Information</h5>
    <p>In most cases, you can gain access to personal information that we hold about you. We will handle requests for access to your personal information in accordance with the National Privacy Principals. </p>
    <p>We will deal with all requests for access to personal information as quickly as possible.</p>
    <h5 class="privacy_policy_h">5. Changes To Our Privacy Policy</h5>
    <p>From time to time it may be necessary for us to review and revise our privacy policy. We reserve the right to change our privacy policy at any time. We may notify changes to our policy by posting it on our web site.</p> 
    <h5 class="privacy_policy_h">6. Who to Contact</h5>
    <p>If you are concerned that we may have breached your privacy and wish to make a complaint, or simply want more information about the way we manage your personal information, please contact us by calling <strong>1800 378 482</strong>, or by writing to</p> 
    <p><strong>Fruitastic</strong></p> 
    <p>14 Endeavour Way</p> 
    <p>Braeside , Vic 3195</p>
    <p>or you can alternatively email us at <a href="#"><strong>service@fruitastic.com.au</strong></a></p>

          
    
          

          
        </div>
    </div>
    
</div>
</div>
