<footer><!--footer start-->
  <div class="top_footer">
      <div class="container">
          <div class="row">
              <div class="footer_col4 footer_fbtns">
                   <h3>About us</h3>
                   <p>With more than 15 years of experience we can proudly say we are still leading the way in online fruit and veg in Victoria, trusted by thousands…………… </p>
                    <a routerLink="about" class="btn btn-default light_gray">Read More <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
              </div>
              <div class="footer_col2">
                  <h3 class="footer_heading">Information</h3>
                  <ul class="footer_links">
                    <li><a routerLink="delivery">Delivery</a></li>
                    <li><a routerLink="legal-notice">Legal Notice</a></li>
                    <li><a routerLink="terms-of-use">Terms of Use</a></li>
                    <li><a routerLink="terms-of-sale">Terms of Sale</a></li>
                    <li><a routerLink="about">About us</a></li>
                    <li><a href="javascript:void(0)">Secure Payment</a></li>
                    <li><a routerLink="our-mission">Our mission</a></li>
                </ul>
              </div>
              <div class="footer_col3">
                  <h3 class="footer_heading">Get In Touch</h3>
                  <ul class="footer_links">
                    <li>
                     <a href="https://twitter.com/FruitasticAus" target="_blank"><i class="fa fa-twitter"></i></a>
                     <a href="https://www.facebook.com/FruitasticMelbourne/" target="_blank"><i class="fa fa-facebook"></i></a>
                     <a href="https://www.youtube.com/channel/UCqiih4I1gVnIihQmB5ixWUw" target="_blank"><i class="fa fa-youtube-play"></i></a>
                     <a href="https://www.instagram.com/fruitasticofficial/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </li>
                </ul>

                   <h3 class="footer_heading">Payment Accepted</h3>
                   <ul class="footer_links">
                    <li>
                     <a href="javascript:void(0)"><i class="fa fa-cc-paypal" aria-hidden="true"></i></a>
                     <a href="javascript:void(0)"><i class="fa fa-cc-visa" aria-hidden="true"></i></a>
                     <a href="javascript:void(0)"><i class="fa fa-cc-mastercard" aria-hidden="true"></i></a>
                    </li>
                 </ul>
              </div>
              <div class="footer_col1">
                  <h3>Newsletter</h3>
                  <p>Please feel free to join our newsletter for the latest market reports and a whole lot more.</p>
                  <form [formGroup]="newsLetterForm" (ngSubmit)="submitForm(newsLetterForm.value)" class="search_from footer_form">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Enter your email address" formControlName="email">
                    </div>
                    <button [disabled]="!newsLetterForm.valid" type="submit" class="btn btn-default light_gray">Subscribe <i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
                  </form>
              </div>
          </div>
      </div>
  </div>
  <div class="bottom_footer fw">
      <div class="container">
          <div class="row">
              <div class="col-md-5 col-sm-12 col-xs-12">
                  <p>Copyright ©  2016 Fruitastic.com.au. All Rights Reserved</p>
              </div>
              <div class="col-md-7 col-sm-12 col-xs-12 text-right">
                  <ul class="social_part">
                      <li><a routerLink="contact">Contact us</a></li>
                      <li><a routerLink="terms-of-service">Terms of Services</a></li>
                      <li><a routerLink="privacy-policy">Privacy Policy</a></li>
                      <li><a href="javascript:void(0)">Site Map</a></li>
                  </ul>
                  <a href="javascript:void(0)" class="power">Powered by efrog</a>
              </div>
          </div>
      </div>
  </div>
</footer><!--footer end-->