<!-- Login Modal -->
<div class="modal fade" id="signinModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="fa fa-close"></span></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6 signin">
            <h3>Sign In to Fruitastic</h3>
            <form [formGroup]="loginForm" (ngSubmit)="doLogin(loginForm.value)" novalidate>
              <div class="form-group">
                <label>Email address</label>
                <input formControlName="email" type="email" class="form-control" placeholder="Email">
              </div>
              <div class="form-group">
                <label>Password</label>
                <input formControlName="pass" type="password" class="form-control" placeholder="Password">
              </div>
              <div class="form-group"><a href="javascript:void(0)" onClick="$('#signinModal').modal('hide');" data-toggle="modal" data-target="#forgotModal">Forget username or password</a></div>
              <div class="form-group">
                <button [disabled]="!loginForm.valid" type="submit" class="btn btn-default btn-block">Submit</button>
              </div>
            </form>
          </div>
          <div class="col-md-6 guest">
            <h3>Sign Up to Fruitastic</h3>
            <p class="text-center join"><img src="assets/images/Logo-red.png" alt="Logo" height="115px"></p>
            <button type="button" class="btn btn-default btn-block signup" data-toggle="modal" data-target="#signupModal" onClick="$('#signinModal').modal('hide');">Register</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--- forgot password model -->

<div class="modal fade" id="forgotModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="fa fa-close"></span></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <h3>Forgot Password</h3>
            <form [formGroup]="forgotForm" (ngSubmit)="forgotPass(forgotForm.value)" novalidate>
              <div class="form-group">
                <label>Email address</label>
                <input formControlName="email" type="email" class="form-control" placeholder="Email">
              </div>
              <div class="form-group">
                <button [disabled]="!forgotForm.valid" type="submit" class="btn btn-default btn-block">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Sign up Modal -->
<div class="modal fade" id="signupModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="fa fa-close"></span></button>
      </div>
      <div class="modal-body white">
        <h3>Sign Up to Fruitastic</h3>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="personel">
            <form [formGroup]="signupForm" (ngSubmit)="signup(signupForm.value)">
              <div class="row">
                <div class="col-md-6 col-sm-6">
                  <div class="form-group">
                    <label>First Name</label>
                    <input formControlName="firstName" type="text" class="form-control" placeholder="Name">
                  </div>
                </div>
                <div class="col-md-6 col-sm-6">
                  <div class="form-group">
                    <label>Last Name</label>
                    <input formControlName="lastName" type="text" class="form-control" placeholder="Name">
                  </div>
                </div>
                <div class="col-md-6 col-sm-6">
                  <div class="form-group">
                    <label>Email</label>
                    <input [ngClass]="{'error': emailExits}" (blur)="onblurMethod($event)" formControlName="email" type="email" class="form-control" placeholder="Email">
                    <div *ngIf="emailExits" class="error">Email allready exits!</div>
                  </div>
                </div>
                <div class="col-md-6 col-sm-6">
                  <div class="form-group">
                    <label>Contact Number</label>
                    <input formControlName="contact_no" type="tel" class="form-control" placeholder="Contact Number">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-6 col-sm-6">
                    <label>Password</label>
                    <input formControlName="pass" type="password" class="form-control" placeholder="Password">
                  </div>
                  <div class="col-md-6 col-sm-6">
                    <label>Confirm Password</label>
                    <input formControlName="cPassword" type="password" class="form-control" placeholder="Confirm Password">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-6 col-sm-6">
                    <label>Apartment</label>
                    <input formControlName="apartment" type="text" class="form-control" placeholder="Apartment">
                  </div>
                  <div class="col-md-6 col-sm-6">
                    <label>Address</label>
                    <input formControlName="address" type="text" class="form-control" placeholder="Address">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-6 col-sm-6">
                    <label>Delivery Address</label>
                    <input formControlName="delv_address" type="text" class="form-control" placeholder="Delivery Address">
                  </div>
                  <div class="col-md-6 col-sm-6">
                    <label>Delivery Address Apartment</label>
                    <input formControlName="delv_address_apartment" type="text" class="form-control" placeholder="Delivery Address Apartment">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-6 col-sm-6">
                  </div>
                  <div class="col-md-6 col-sm-6">
                    <label>&nbsp;</label>
                    <button [disabled]="!signupForm.valid" type="submit" class="btn btn-default btn-block">Submit</button>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <p>Already have an account? <a href="#" data-toggle="modal" data-target="#signinModal" onClick="$('#signupModal').modal('hide');">Sign In</a>                  Now.</p>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>