<app-header class="inner-header"></app-header>
<div class="banner_container our-mission">
  <div class="banner_details text-center">
    <div class="container">
      <h1 class="animated fadeInDown go">Our Mission</h1>
    </div>
  </div>
</div>



<div class="our-mission_content">
<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12">
          <h1>Our Mission</h1>
          <hr />
          <p>With the use of the latest systems and technologies, along with our 15+ years experience as Melbourne's premier fruit and vegetable home delivery service to not only homes, but school and child care centres alike, our mission is to supply the best quality Australian produce to all Victorians, hassle free. Ensuring each and every man, woman and child has access to a time saving service that encourages healthy eating habits and promotes the 2 and 5 concept. ( 2 fruit and 5 veg per person, per day) </p>
    <p>We strive to ensure each and every piece will be enjoyed in its freshest possible state, packed with vitamins and flavour, without the hassle of going to farmers markets or fruit shops and supermarkets. </p>
    <p>It's a fact that most Australians don't achieve the 2 and 5, however we aim to change this through lower prices, greater service, fast home, school or office delivery and with influencers on our social media videos and blogs which are aimed at educating and promoting healthier eating habits and practices. </p>
    <p>Please feel free to join our social pages for tips and tricks, along with recipes and much much more which will help you buy smarter, save you money and keep the whole family eating and living healthier.</p>

          
        </div>
    </div>
    
</div>
</div>