<app-header class="inner-header"></app-header>
<div class="container">
  <p>&nbsp;</p>
    <div class="col-sm-offset-2 col-sm-8">
        
         <div class="jumbotron text-center alert-success">
            <div id="content">
              <div class="notify successbox">
             	<p>How easy was that !!</p> 
				<p>A box of goodness is on its way</p>
                <h1>Success!</h1>
                <span class="alerticon"><i class="fa fa-check-circle fa-5x"></i></span>
                <p class="success-footer-msg">Thanks for choosing Fruitastic, supporting local growers and local business. Your order will be with you shortly.
Did we mention we dont use any P.E.T plastics, and limit the use of bags and boxes?</p>
              </div>
            </div>
         </div>
      </div>
</div>