 <app-header class="inner-header"></app-header>
 <div class="banner_container about-us">
  <div class="banner_details text-center">
    <div class="container">
      <h1 class="animated fadeInDown go">Great meals start with </h1>
      <span class="animated fadeInUp go">great ingredients</span>
    </div>
  </div>
</div>


 
<div class="about_content">
<div class="container">
    <div class="row">
      <!--<div class="col-md-12"><h3 class="common-title newstyle">Welcome to Fruitastic</h3></div>-->
      <div class="col-md-12"><h1 class="common-title newstyle">Welcome to Fruitastic</h1></div>
        <div class="col-md-12 col-sm-12 animatedParent">
        <div class="row">
          <div class="animated fadeInLeft go col-sm-4 col-md-4">
              <iframe width="100%" height="250" src="https://www.youtube-nocookie.com/embed/pR5Zeu7A524" frameborder="0" allowfullscreen></iframe>
          </div>
       
          <div class="col-sm-8 col-md-8">
            <h3 class="animated fadeInRight go">A man with a dream about farm fresh produce</h3>
            <p class="animated fadeInRight go text-justify">Fruitastic is a classic elucidation of how vision and perseverance of a small team of individuals can impact lives of thousands. We are extraordinarily simple people with one elementary goal; deliver garden-fresh fruits and veggies to every household in Victoria. Our ultra-simple and user friendly website enables and empowers our customers to order locally grown fruit and vegetables from the comfort of their homes. We are simplifying the lives of our fellow Victorians with our remarkably prompt service. Primary reason behind our phenomenal success is our sheer commitment to quality, we have never compromised on the freshness and quality of our products and this is why we only partner with the well-reputed premium Australian farms. In a nutshell Fruitastic is the one stop shop for all Victorians when it comes to fresh hand plucked fruit and vegetables.  </p>
          </div>
       </div>
      </div>
    </div>
    
    <div class="row aboutbox">
        <div class="col-md-12 col-sm-12 animatedParent">
          <h3  class="animated fadeInLeft go">Our mission</h3>
             <img src="assets/images/kids-eating-watermelon.jpg" alt="" class="img-responsive hidden-xs about-right-image animated fadeInRight go img-circle">
              <p class="animated fadeInLeft go text-justify">With the use of the latest systems and technologies, along with our 15+ years experience as Melbourne's premier fruit and vegetable home delivery service to not only homes, but school and child care centres alike, our mission is to supply the best quality Australian produce to all Victorians, hassle free. Ensuring each and every man, woman and child has access to a time saving service that encourages healthy eating habits and promotes the 2 and 5 concept. ( 2 fruit and 5 veg per person, per day)</p>
      <p class="animated fadeInLeft go text-justify">We strive to ensure each and every piece will be enjoyed in its freshest possible state, packed with vitamins and flavour, without the hassle of going to farmers markets or fruit shops and supermarkets.</p>
      <p class="animated fadeInLeft go text-justify">It's a fact that most Australians don't achieve the 2 and 5, however we aim to change this through lower prices, greater service, fast home, school or office delivery and with influencers on our social media videos and blogs which are aimed at educating and promoting healthier eating habits and practices.</p>
      <p class="animated fadeInLeft go text-justify">Please feel free to join our social pages for tips and tricks, along with recipes and much much more which will help you buy smarter, save you money and keep the whole family eating and living healthier.</p> 
        </div>

        <p>&nbsp;</p>

        
        <div class="col-md-12 col-sm-12 about-us-padding animatedParent">
            <img src="assets/images/BREAKIE-FUN.jpg" alt="" class="img-responsive about-left-image hidden-xs animated fadeInLeft go img-circle">
              <h3 class="animated fadeInRight go">Our Company</h3>
              <p class="animated fadeInRight go text-justify">VICTORIA'S NO. 1 PREMIUM FRUIT AND VEGETABLE DELIVERY SERVICE, CATERING TO HOMES, SCHOOLS AND CHILDCARE CENTRES AND CORPORATE CLIENTS.</p>
      <p class="animated fadeInRight go text-justify">Our service started way back in 1993. Its taken on many changes and a few faces and we are proud to be one of the Pioneers in Fruit and veg Home deliveries in Melbourne. In 2005 Fruitastic was formed and remains an Australian family owned and run business, setting the benchmark for fresh fruit and vegetable deliveries and changing the way consumers buy fresh produce.</p>
      <p class="animated fadeInRight go text-justify">We are leading the way in the fresh fruit and vegetable delivery industry. Fruitastic have for many years now, been purchasing Premium Australian Grown produce daily from the Melbourne Wholesale Markets and delivering with free delivery, to hundreds of schools, homes and child care centres direct.</p>
      <p class="animated fadeInRight go text-justify">We do not have a retail outlet, which enables us to provide a service many of our competitors, (even the big ones) could only dream about. We provide a service whereby we purchase, pack, and deliver on the same day, to hundreds of happy customers on a daily basis. Our setup and systems in our warehouse enable us to check each individual piece of fruit and vegetable being delivered for bruising, markings, etc. With no retail outlet, we hold no old stock, ensuring you the consumer only has the best, freshest produce delivered. We only buy what we need for each day.</p>
      <p class="animated fadeInRight go text-justify">Our staff are trained, passionate fruit and veg experts, with a keen eye for detail.</p>
      <p class="animated fadeInRight go text-justify">Our deliveries are packed in recyclable boxes which we ask you leave out for collection on the day of your next delivery,ensuring we do our bit for the environment. Oh!! Did we mention this also saves you the consumer on packaging costs and additional charge?</p>
      <p class="animated fadeInRight go text-justify">The benefits of using Fruitastic for your fruit and veg needs in Melbourne far outweigh the few minutes it takes to set up an account, or running to the markets yourself.</p>
      <p class="animated fadeInRight go text-justify">Our service is simple. Premium fruit and vegetables delivered, direct from the growers to your door, with the added bonus of free delivery* subject to post code check and minimum spend.</p>
      <p class="animated fadeInRight go text-justify">With over 80,000 pieces of fruit and vegetables delivered each week, our number 1 goal is ensuring all our clients receive the best Australian Grown produce available in the Melbourne markets on any given day.</p>
             
        </div>
        
        
        <div class="col-md-12 col-sm-12 about-us-padding animatedParent">
           <h3 class="animated fadeInLeft go">What We do</h3>
            <img src="assets/images/FRUIT-SMOOTHY.jpg" alt="" class="img-responsive hidden-xs about-right-image animated fadeInRight go img-circle">
              <p class="animated fadeInLeft go">It's quite simple really. </p>
              <p class="animated fadeInLeft go text-justify">We do our job the best we can, to ensure you have more spare time to do the things you love.</p> 
              <p class="animated fadeInLeft go text-justify">Our business is built on trust and strong relationships. Relationships with our farmers and growers, and our customers. </p>
              <p class="animated fadeInLeft go text-justify">We have created a bridge and platform of expertise to inform, educate and supply  our customers with in season, locally grown Australian produce and fruity facts, tips and tricks to have the whole family enjoying Fruitastic produce all year round.</p> 
              <p class="animated fadeInLeft go text-justify">The power and control is then placed in your hands to order with confidence  knowing you will receive great quality value and freshness the very next day from a company passionate about fruit and veg. </p>
              <p class="animated fadeInLeft go text-justify">Our team are highly trained in identifying great quality eating produce. We will only pack into your delivery what we too would want to take home to our families.</p> 
              <p class="animated fadeInLeft go text-justify">Another added bonus of using our service is we give you free educational conte nt throughout our social pages to know what's in season, and how to cook, store and prepare incredible meals and lunch box snacks the whole family will love.</p> 
              <p class="animated fadeInLeft go text-justify">Please like our social pages and subscribe to see what's up next.</p>
        </div>
    </div>
    <!--<div class="row aboutbox">
        <div class="col-md-4 col-sm-4">
          <div class="box">
            <img src="assets/images/about1.jpg" alt="" class="img-responsive">
            <div class="info">
              <h4>Our mission</h4>
              <p>With the use of the latest systems and technologies, along with our 15+ years experience as Melbourne's premier fruit and vegetable home delivery service to not only homes, but school and child care centres alike, our mission is to supply the best quality Australian produce to all Victorians, hassle free. Ensuring each and every man, woman and child has .... <a href="our-mission.html" class="our_mission_link">read more</a></p> 
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="box">
            <img src="assets/images/about2.jpg" alt="" class="img-responsive">
            <div class="info">
              <h4>Our Company</h4>
              <p>VICTORIA'S NO. 1 PREMIUM FRUIT AND VEGETABLE DELIVERY SERVICE, CATERING TO HOMES, SCHOOLS AND CHILDCARE CENTRES AND CORPORATE CLIENTS</p>

      <p>Our service started way back in 1993. Its taken on many changes and a few faces and we are proud to be one of the Pioneers in Fruit and veg Home deliveries in Melbourne .... <a href="our-company.html" class="our_mission_link">read more</a></p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="box">
            <img src="assets/images/about3.jpg" alt="" class="img-responsive">
            <div class="info">
              <h4>What We do</h4>
              <p>It's quite simple really. </p>

      <p>We do our job the best we can, to ensure you have more spare time to do the things you love. </p>

      <p>Our business is built on trust and strong relationships. Relationships with our farmers and growers, and our customers... <a href="our-mission.html" class="our_mission_link">read more</a></p>
            </div>
          </div>
        </div>
    </div>-->
    
</div>
</div>

<div class="choose_sec about"><!--- choose_sec start -->
  <div class="container">
      <div class="row">
          <div class="col-md-12 col-sm-12 text-center">
              <h1 class="common-title newstyle wcs">Why Choose Us</h1>
          </div>
      </div>
      <div class="row second_rws">
          <div class="col-sm-6 col-md-4 col-xs-12 text-left">
              <div class="wrape_all_sect">
                  <img src="assets/images/organic.png">
                  <div class="description">
                    <h3> Australian Family Owned </h3>
                    <p>Supporting local business that knows you is what we are all about. We understand you better than the big corporate Supermarkets. We ensure you're not only receiving great quality produce, but a true old fashioned tailored service and system built around integrity and trust  </p>
                  </div>
              </div>

              <div class="wrape_all_sect">
                  <img src="assets/images/natural.png">
                  <div class="description">
                    <h3>100% Natural </h3>
                    <p>All our products are 100% natural. Just the way nature intended. We should all be striving to eat less processed and packaged goods, and aim for 2 & 5 (2 fruit and 5 veg serves per day )  </p>
                  </div>
              </div>

              <div class="wrape_all_sect">
                <img src="assets/images/quality.png">
                <div class="description">
                  <h3>Best Quality </h3>
                  <p>We make no compromise on quality. We only buy Australian grown and the absolute best quality available within the Melbourne Markets. 
Our produce looks and tastes as good as the photos displayed. 
</p>
                </div>
              </div>
          </div>
          <div class="col-sm-12 col-md-4 col-md-pull-4 col-xs-12 text-center hidden-lg hidden-md hidden-sm">
              <img src="assets/images/FreeGreatPicture.png" class="img-responsive basket">
          </div>

          <div class="col-sm-6 col-md-4 col-md-push-4 col-xs-12 text-right organic_right">
              <div class="wrape_all_sect">
                <img src="assets/images/delivery.png">
                <div class="description">
                  <h3>Fast Delivery</h3>
                  <p>We only buy what we need to fill the daily orders on the day they are delivered. Therefore,  it's most likely your produce was in the hands of the grower just hours before it's delivered to you. </p>
                </div>
              </div>

               <div class="wrape_all_sect">
                 <img src="assets/images/online.png">
                 <div class="description">
                  <h3>Online Order anytime </h3>
                  <p>Shop at your convenience, be it on the train, at home, or office. Set up an account and choose to have a standing weekly order, or one-time order, Post pone or cancel set orders. The power is in your hands.</p>
                </div>
              </div>

               <div class="wrape_all_sect">
                 <img src="assets/images/social_blog.png">
                 <div class="description">
                  <h3>Fruity Social Blogs </h3>
                  <p>Our Social media blogs and videos give weekly tips on everything fruit and veg, and a whole lot more. How to store, serve, cook and enjoy for the whole family. Kids aren't eating enough fruit and veg? We have some tips and tricks to make it happen. 
</p>
                </div>
              </div>
          </div>

          <div class="col-sm-12 col-md-4 col-md-pull-4 col-xs-12 text-center hidden-xs">
              <img src="assets/images/FreeGreatPicture.png" class="img-responsive basket">
          </div>

      </div>
  </div>
</div><!--- choose_sec end -->


<div div class="testimonial_sec text-center" id="carousel">        			
    <div class="container">
    <div class="row">
    <div class="col-md-8 col-md-offset-2">
              <div class="quote">
               <h1 class="testimonial-heading1">What our clients say?</h1>
               <p class="testimonial-font-color">Browse some of our latest reviews</p>
              </div>
      <div class="carousel slide" id="fade-quote-carousel" data-ride="carousel" data-interval="3000">
        <!-- Carousel indicators -->
                <ol class="carousel-indicators">
          <li data-target="#fade-quote-carousel" data-slide-to="0"  class="active"></li>
          <li data-target="#fade-quote-carousel" data-slide-to="1"></li>
          <li data-target="#fade-quote-carousel" data-slide-to="2"></li>
                  <li data-target="#fade-quote-carousel" data-slide-to="3"></li>
        </ol>
        <!-- Carousel items -->
        <div class="carousel-inner testimonial-carousel">
          <div class="active item">
                    <div class="row text-center">
                      <!--<div class="col-sm-1 col-sm-offset-5">
                       <div class="profile-circle"><img src="assets/images/client2.png" class="img-responsive" /></div>
                      </div>-->
                      <div class="col-sm-12">
                      <blockquote> Jasmine <span> Australia</span></blockquote>
                     </div>
                    </div>
                    <!--<h5><a href="#">MyBudget</a></h5>
                    <h4 class="testimonial-heading4">Out of worries</h4>-->
                    <p><i class="fa fa-star yellow-color-star" aria-hidden="true"></i><i class="fa fa-star yellow-color-star" aria-hidden="true"></i><i class="fa fa-star yellow-color-star" aria-hidden="true"></i><i class="fa fa-star yellow-color-star" aria-hidden="true"></i><i class="fa fa-star yellow-color-star" aria-hidden="true"> </i>  <span class="testimonial-font-color">reviewed June 08, 2017</span></p>
                    <p>Everything about their service was just spot on . Thanks guys . My family are loving the produce week in week out . Recommend to all</p>
                  </div>
                  <div class="item">
                   <div class="row">
                      <div class="col-sm-12">
                      <blockquote> Matthews mum <span> Australia </span></blockquote>
                     </div>
                    </div>
                    <p><i class="fa fa-star yellow-color-star" aria-hidden="true"></i><i class="fa fa-star yellow-color-star" aria-hidden="true"></i><i class="fa fa-star yellow-color-star" aria-hidden="true"></i><i class="fa fa-star yellow-color-star" aria-hidden="true"></i><i class="fa fa-star yellow-color-star" aria-hidden="true"> </i>  <span class="testimonial-font-color">reviewed june 20, 2012</span></p>
                    <p>Switched to ordering fruit & veg from Fruitastic after being frustrated by the two big Supermarkets online shopping experiences (expensive and never delivered on time). Love the friendly and efficient service and that my deleivery is on my doorstep before I even get out of bed. Easy to order and stress free.</p>
                     
                  </div>
                  <div class="item">
                    <div class="row">
                      <div class="col-sm-12">
                      <blockquote> Kezmaz <span> Australia  </span></blockquote>
                     </div>
                    </div>
                    <p><i class="fa fa-star yellow-color-star" aria-hidden="true"></i><i class="fa fa-star yellow-color-star" aria-hidden="true"></i><i class="fa fa-star yellow-color-star" aria-hidden="true"></i><i class="fa fa-star yellow-color-star" aria-hidden="true"></i><i class="fa fa-star yellow-color-star" aria-hidden="true"> </i>  <span class="testimonial-font-color">reviewed April 23, 2012 </span></p>
                    <p>I really look forward to receiving my delivery every week, it arrives early morning so you don't have to hang around waiting for it. It's Australian produce and not the nasty imported stuff from the supermarket that's probably been frozen & is about a month old!!! I recommend this service especially to Mums - There's nothing worse than dragging a toddler grocery shopping.</p>
                     
                  </div>
                  <div class="item">
                    <div class="row">
                      <div class="col-sm-12">
                      <blockquote> Kate Wright <span> Australia </span></blockquote>
                     </div>
                    </div>
                    <p><i class="fa fa-star yellow-color-star" aria-hidden="true"></i><i class="fa fa-star yellow-color-star" aria-hidden="true"></i><i class="fa fa-star yellow-color-star" aria-hidden="true"></i><i class="fa fa-star yellow-color-star" aria-hidden="true"></i><i class="fa fa-star yellow-color-star" aria-hidden="true"> </i>  <span class="testimonial-font-color">reviewed June 2017</span></p>
                    <p>So happy with our weekly delivery of fruit each week. My staff love having such great quality fruit to snack on. The Fruitastic team always delivers as promised with a box full of quality fruit and their service is just fantastic.</p>
                     
                  </div>
                  
                  
              
        </div>
      </div>
    </div>							
  </div>
  </div>
</div>






<!--<div class="testimonial_sec">
<div class="container">
  <div class="row">
    <div class="col-md-12"><h3 class="common-title newstyle text-center">What our clients say?</h3></div>
    <div class="col-md-12">
      <ul class="bxslider">
        <li>
          <img src="assets/images/client1.png" alt="">
          <p>Organisk gives me tons of fresh fruits and vegetables to select for my recipes. I freely pick up anything I need with superb pleasant feeling. Now I have to gather all my stuff for our delicious dinner, you know, lots of special offers are available at Organisk</p>
          <blockquote>Sarah Collin<span>Food blogger</span></blockquote>
        </li>
        <li>
          <img src="assets/images/client2.png" alt="">
          <p>Organisk gives me tons of fresh fruits and vegetables to select for my recipes. I freely pick up anything I need with superb pleasant feeling. Now I have to gather all my stuff for our delicious dinner, you know, lots of special offers are available at Organisk</p>
          <blockquote>Helena Ravenclaw <span>Yoga professional</span></blockquote>
        </li>
        <li>
          <img src="assets/images/client1.png" alt="">
          <p>Organisk gives me tons of fresh fruits and vegetables to select for my recipes. I freely pick up anything I need with superb pleasant feeling. Now I have to gather all my stuff for our delicious dinner, you know, lots of special offers are available at Organisk</p>
          <blockquote>Sarah Collin<span>Food blogger</span></blockquote>
        </li>
        <li>
          <img src="assets/images/client2.png" alt="">
          <p>Organisk gives me tons of fresh fruits and vegetables to select for my recipes. I freely pick up anything I need with superb pleasant feeling. Now I have to gather all my stuff for our delicious dinner, you know, lots of special offers are available at Organisk</p>
          <blockquote>Helena Ravenclaw <span>Yoga professional</span></blockquote>
        </li>
      </ul>
    </div>
  </div>
</div>
</div>-->

<div class="supplier_sec">
<div class="container">
  <div class="row">
    <div class="col-md-12"><h1 class="common-title newstyle">Our Growers and Suppliers</h1></div>
    <div class="col-md-4 col-sm-4">
      <div class="people_box">
        <img src="assets/images/graybg.jpg" alt="" class="img-responsive normal">
        <img src="assets/images/grow1.png" alt="" class="img-responsive people">
        <div class="details">
<h4>Joseph Napoleone</h4>

          <p><strong>Director (VIC)</strong></p>
          Dedicating his life's work to the family business, Joe is a respected industry figure and leader of the Red Rich Fruits Management Team and Board of Directors.

    <ul>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-google"></i></a></li>
          </ul>
   </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-4">
      <div class="people_box">
        <img src="assets/images/graybg.jpg" alt="" class="img-responsive normal">
        <img src="assets/images/grow2.png" alt="" class="img-responsive people">
        <div class="details">
          <h4>Michael Napoleone</h4>
          
          <p><strong>Director (VIC)</strong></p>
          Growing up working in the Red Rich Fruits orchards, Michael identifies growth opportunities and drives business expansion for the Victorian arm of the business.
              <ul>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-google"></i></a></li>
              </ul>
          </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-4">
      <div class="people_box">
        <img src="assets/images/graybg.jpg" alt="" class="img-responsive normal">
        <img src="assets/images/grow1.png" alt="" class="img-responsive people">
        <div class="details">
          <h4>Paul Gazzola</h4>
          
          <p>(Fresh Farm director)</p>
          Paul and Andrew currently operate the family business and 550+ acre farm at Somerville which employs over 50? staff and harvest crews.
              <ul>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-google"></i></a></li>
              </ul>
          </div>
      </div>
    </div>
  </div>
</div>
</div>