<section class="top_slider">
  <app-header></app-header>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators  hidden-xs">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
  
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      
      <div class="item active">
        <img src="assets/images/Fruitastic-Home-Banner.jpg" alt="#">
            <div class="carousel-caption">
                  <figure class="animated fadeInDown go"><img src="assets/images/banner_logo.png" alt="#"></figure>
                    <p class="animated fadeInDown go banner_slogan hidden-xs">as fresh as it gets </p>
                  <a routerLink="shopnow" class="now_btn animated fadeInUp go cus-btn">Shop Now</a>
            </div>
          </div>
  
      <div class="item">
        <img src="assets/images/BREAD-EGGS-FRUIT-WE-HAVE-IT-COVERED.jpg" alt="#">
            <div class="carousel-caption">
                <h1 class="animated fadeInDown go second_banner_content">not just fruit and veg </h1>
            </div>
          </div>
  
      <div class="item">
        <img src="assets/images/KITCHEN-FUN-BANNER.jpg" alt="#">
            <div class="carousel-caption">
                    <h1 class="animated fadeInDown go second_banner_content">more time to get creative </h1>
            </div>
          </div>
      </div>
    </div>  
</section>
<!-- top_slider end-->

<section class="delivery_sec fw"><!-- delivery_sec start -->
    <div class="container">
       <div class="row">
           <div class="col-md-12 col-sm-12">
               <div class="delivery_cont">
                   <img src="assets/images/if_JD-29_2183552.svg" alt="car_img">
                   <p>Check your Post Code for Free Delivery</p>
                   <input type="text" value="Enter your post code" onclick="if(this.value=='Enter your post code'){this.value=''}" onblur="if(this.value==''){this.value='Enter your post code'}">
                   <a (click)="checkPostcode()" href="javsscript:void(0)" class="hoverd-btn">Check Now</a>
               </div>
           </div>
       </div>
   </div>
</section><!-- delivery_sec end -->
<div id="check_now" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body post_code">
          <h1 class="text-center"><i class="fa fa-map-marker post-code-icon" aria-hidden="true"></i> <span class="post_code_h_one">Post Code</span></h1>
          <h3 class="text-center post_code_h3"><span class="post_code_display">{{postCode}}</span></h3>
          <div *ngIf="postMatch">
                <p class="text-center text-success post_code_congrats" id="truemsg1">Congrats!! We deliver to your area with Free Delivery! subject to minimum spend of $40.</p>
                <p class="text-center" id="truemsg2"><a data-dismiss="modal" routerLink="shopnow" class="post_code_shop_btn hoverd-btn">Shop Now <i class="fa fa-mail-forward"> </i></a></p>
          </div>          
          <div *ngIf="!postMatch">
                <p class="text-center post_code_apologies" id="falsemsg1">We currently don't have free delivery to your area, however, please click on live chat to discuss delivery fee and options, or send us an enquiry to find out delivery options and fees here <a routerLink="contact">Click Here!</a></p>
                <p class="text-center" id="falsemsg2"><a href="javascript:void(0)" class="post_code_shop_btn hoverd-btn" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"> </i> Close</a></p>
          </div>          
        </div>
      </div>
  
    </div>
  </div>

<section class="residential_sec fw text-center">
   <!-- residential_sec start -->
   <div class="container">
       <div class="row">
           <div class="col-md-4 col-sm-4">
               <a href="javascript:void(0)">
                   <div class="service">
                       <i class="icon-presentation"><img src="assets/images/home_img1.png"></i>
                       <h2>Residential</h2>
                       <hr>
                       <p class="alt-paragraph">Delivery is free to most homes throught Victoria*subject to minimum spend and post code please
                           check your post code to see if you qualify.</p>
                   </div>
               </a>
           </div>
           <div class="col-md-4 col-sm-4">
               <a href="javascript:void(0)">
                   <div class="service">
                       <i class="icon-presentation"><img src="assets/images/home_img2.png"></i>
                       <h2>Schools & Childcare</h2>
                       <hr>
                       <p class="alt-paragraph">we currently deliver to 450 + schools Vic wide, ensuring thousands of kids are enjoying Fruitastic
                           freshness daily. </p>
                   </div>
               </a>
           </div>
           <div class="col-md-4 col-sm-4">
               <a href="javascript:void(0)">
                   <div class="service">
                       <i class="icon-presentation"><img src="assets/images/home_img3.png"></i>
                       <h2>Corporate</h2>
                       <hr>
                       <p class="alt-paragraph">Healthy team room snacks delivered to your office, tailored to your work force. Boosting moral
                           and energy levels.</p>
                   </div>
               </a>
           </div>
       </div>
   </div>
</section>
<!-- residential_sec end -->

<section class="whoweare_sec fw text-center"><!-- whoweare_sec start -->
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="white_box">
                    <div class="inner_box">
                        <h1 class="common-title">Who We Are</h1>
                        <p>Fruitastic is an Australian family owned and operated company. </p>
						<p>Our service began deliveries to homes in Victoria way back in 1993. It's taken on many changes and a few faces, and we are proud to be one of the pioneers in online deliveries in Australia.</p> 
						<p>In 2005 Fruitastic was formed to set the benchmark for real fresh fruit and veg deliveries throughout Melbourne. 
Our team, source, purchase, pack and deliver all goods in house. In other words, unlike many of our competitors, we take your order from start to finish, delivering with confidence and experience, ensuring 100% satisfaction in great quality and freshness. </p>
						<p>Our team are all fresh fruit and veg lovers. We are passionate about quality produce and pride ourselves in the supply from farm to kitchen. </p>
						<p>Like and subscribe to our social media pages to stay up to date with us and view more of who we are and what we do behind the scenes. </p>
                        <ul class="fruit_part">
                            <li><a href="javascript:void(0)"><img src="assets/images/fruits_img1.png" alt="fruits_img1">Fruit </a></li>
                            <li><a href="javascript:void(0)"><img src="assets/images/fruits_img2.png" alt="fruits_img2">Vegetables</a></li>
                            <li><a href="javascript:void(0)"><img src="assets/images/fruits_img3.png" alt="fruits_img3">Milk & Bread </a></li>
                        </ul>
                        <a routerLink="shopnow" class="shop_btn hoverd-btn">Shop Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- whoweare_sec end -->
<app-weekly-special></app-weekly-special>

<section class="ualuebox_sec fw animatedParent"><!-- ualuebox_sec start -->
    <h1 class="common-title transparent"><span>Value box</span></h1>
     <div class="row">
      <div class="col-sm-10 col-sm-offset-1 value_box_row">
      <img class="ualuebox_img block bounceInLeft animated img-responsive go" src="assets/images/fruit-and-veg-box.jpg" alt="ualue_img">
      <div class="monthly_part block bounceInRight animated go pull-right">
          <h2 class="animated fadeInRight go">VALUE BOXES START AT JUST </h2>
          <span>$40.00</span>
          <p class="text-justify">Simply the best value of Fruit and Veg boxes available. Saving you hundreds of $$$ per year. We pack so much goodness, variety and most importantly plenty of fruit and veg into these boxes, the whole family will be thrilled. Menus change weekly.</p>
          <p><a routerLink="shopnow" class="shop_btn hoverd-btn">Shop Now</a></p>
      </div>
     </div>
    </div>
  </section>
  


  <div class="about_us_sec"><!--- about_us_sec start -->
    <div class="container">
        <div class="row">
             <h1 class="common-title hidden-lg hidden-md hidden-sm">About Us</h1>
            <div class="col-md-12 col-sm-12">
            	<figure class="about_us_image"><img class="img-responsive img-circle" src="assets/images/JAGJDJ.jpg" alt="baby_img"></figure>
                <div class="wrape_about text-center">
                    <h1 class="common-title hidden-xs">About Us</h1>
                    <p> Fruitastic is a classic elucidation of how vision and perseverance of a small team of individuals can impact lives of thousands. We are extraordinarily simple people with one elementary goal; deliver garden-fresh fruits and veggies to every household in Victoria. </p>
                    
                    <div class="text-center">
                       <a routerLink="about" class="shop_btn hoverd-btn">READ MORE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!--- about_us_sec end -->


<div class="fresh_sec fw">
    <div class="container">
      <h1 class="common-title">Just how fresh ?</h1>
      <div class="hidden-sm hidden-xs desktop">
      <img src="assets/images/just-how-fresh.jpg" alt="">
      </div>
      <ul class="hidden-md hidden-lg mobile">
        <li><img src="assets/images/step1.png"><span>You place your order </span><small>Delivery <br>Day</small></li>
        <li><img src="assets/images/step2.png"><span>We buy fresh fruit <br>& vegetables</span></li>
        <li><img src="assets/images/step3.png"><span>Hand picked and <br>Packed</span></li>
        <li><img src="assets/images/step4.png"><span>Deliveries start</span></li>
        <li><img src="assets/images/step5.png"><span>Enjoy Fresh</span></li>
      </ul>
    </div>
  </div>  